  <form action="/home/uploads" method="POST" enctype="multipart/form-data">
  <div class="input-group col-md-6">
    <textarea name="post" id="" cols="60" rows="5"></textarea>
  </div>
  <div class="input-group col-md-6">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" name="myImage" class="custom-file-input" id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form><br>

  {{#each allPosts}}
  <div class="each-posts p-3 mb-2 bg-secondary text-white ">
    <p>{{this.email}}</p>
    <div class='title-delete-btn p-3 mb-2 bg-secondary text-white'>
      <h3>{{this.title}}</h3>
      <form method="POST" action='/delete'>
        <button type="submit" name={{this.post_id}} class="btn-danger">Delete</button>
      </form>
    </div>
    <img src="uploads/{{this.image_path}}" onerror="this.style.display='none'" width="100%" alt=''>
  </div>
  {{/each}}
  